:root{
    --secondary-color: rgb(127, 194, 252);
}

@font-face {
    font-family: myFont;
    src: url(Poppins-Medium.ttf);
}
  
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: myFont;
    
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 12fr 0.5fr;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#header_left {
    font-size: 35px;
}

#header_right{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user_profile {
    margin-right: 20px;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    border: 2px solid black;
    border-radius: 100%;
}

#content{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr;
    padding: 20px;
    
}

#nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr 2fr;
    font-size: 22px;
}

#nav_heading{
    font-size: 30px;
}

.nav_setting_links{
    font-size: 17px;
    cursor: pointer;
}

#footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer>span{
    font-style: italic;
}

a{
    margin-left: 5px;
    color: black;
    text-decoration: none;
}

#nav_links {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    
}



#home_content {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.navLinkContent {

    padding: 20px;
    margin-bottom: 20px;

}

.content_head {
    font-size: 30px;
    margin-bottom: 20px;
}
.projects_div{
    overflow: auto;
    display: grid;
    gap: 4px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-height: 500px;
    
}
.project_div{
    padding: 20px;
    margin-bottom: 10px;
}