:root{
    --secondary-color: rgb(127, 194, 252);
}

@font-face {
    font-family: myFont;
    src: url(Poppins-Medium.ttf);
}
  
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: myFont;
    
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 12fr 0.5fr;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#header_left {
    font-size: 35px;
}

#header_right{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user_profile {
    margin-right: 20px;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    border: 2px solid black;
    border-radius: 100%;
}

#content{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr;
    padding: 20px;
    
}

#nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr 2fr;
    font-size: 22px;
}

#nav_heading{
    font-size: 30px;
}

.nav_setting_links{
    font-size: 17px;
}

#footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer>span{
    font-style: italic;
}

a{
    margin-left: 5px;
    color: black;
    text-decoration: none;
}

#page_content{
    position: relative;

}

#add_btn{
    position: absolute;
    bottom: 100px;
    right: 100px;
    align-items: center;
    appearance: none;
    background-color: var(--secondary-color);
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    font-size: 20px;
}

#home_content {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.navLinkContent {

    padding: 20px;
    margin-bottom: 20px;

}

.content_head {
    font-size: 30px;
    margin-bottom: 20px;
}
.projects_div{
    resize: both;
    overflow: auto;
    display: grid;
    gap: 4px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-height: 500px;
    
}
.project_div{
    padding: 20px;
    margin-bottom: 10px;
}