:root{
    --secondary-color: rgb(127, 194, 252);
}

@font-face {
    font-family: myFont;
    src: url(Poppins-Medium.ttf);
}
  
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: myFont;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 12fr 0.5fr;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#header_left {
    font-size: 35px;
}

#header_right{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user_profile {
    margin-right: 20px;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    border: 2px solid black;
    border-radius: 100%;
}

#content{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr;
    padding: 20px;
    
}

#nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr 2fr;
    font-size: 22px;
}

#nav_heading{
    font-size: 30px;
}

#nav_settings{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.nav_setting_links{
    font-size: 17px;
    cursor: pointer;
}

#footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer>span{
    font-style: italic;
}

a{
    margin-left: 5px;
    color: black;
    text-decoration: none;
}

#nav_links {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    
}

#home_content {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.navLinkContent {

    padding: 20px;
    margin-bottom: 20px;

}

#my_projects_div {
    max-height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}

.content_head {
    font-size: 30px;
    margin-bottom: 20px;
}
.projects_div{
    display: grid;
    overflow: auto;
    gap: 4px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
}
.project_div{
    padding: 20px;
    margin-bottom: 10px;
}

#btns_div {
    display: inline-flex;
    cursor: pointer;
    margin-left: auto;
}

#btns_div > .non_active{
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    display: inline-block;
    position: absolute;
}

#btns_div > .active {
    cursor: pointer;
    display: flex;
    position: absolute;
    /* margin-top: 300px; */
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    transform: translateY(60px);
    opacity: 1;
}

.btn_div {
    transition: transform 200ms ease-in-out;
}

#fieldset_project,#fieldset_todo {
    appearance: none;
    border: none;
    padding: 10px;
}

#fieldset_project button {
    align-items: center;
    appearance: none;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

#fieldset_project .in, textarea {
    padding: 20px;
}
#fieldset_project input {
    border: none;
    border-bottom: 1px solid black;
}

#fieldset_project #error {
    margin-left: 20px;
}

#fieldset_todo .in {
    padding: 20px;
}

#fieldset_todo input{
    border: none;
    border-bottom: 1px solid black;
}

#fieldset_todo button, span {
    margin-left: 20px;
}

#fieldset_todo button{
    align-items: center;
    appearance: none;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin-left: 20px
}

#search_from{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

#search_from >input {
    width: 400px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

#search_from > button {
    align-items: center;
    appearance: none;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}