.list_div{
    overflow: auto;
    display: grid;
    gap: 4px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding: 10px;
    margin-left: 10px;
}

.list_item {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.list_desc{
    margin-left: 20px;
    font-size: 13px;
}


.item_completed>input {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.398);
}